PORT=8888

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=""
PGSSLMODE=disable
PGDATABASE=coffeeshop
FRONTEND_URL=*
BASE_URL=localhost:8888

REDIS_HOST=localhost
REDIS_PORT=6379

APP_SECRET=""